.vs/
bin/
obj/
packages/
ExcelTools/GinasExcelToolsSetup/Debug/
connection.config
*.dll
**/*.dll
*.pdb
*.cache
**/obj/*
**/bin/*
*.snk
ExcelTools/packages/**
simple.pfx
ExcelTools/GinasExcelToolsSetup/Debug/*
*.knwf
pfx